body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  max-width: 100vw;
  box-sizing: border-box;
}

.pageContainer {
  max-width: 1440px;
  justify-self: center;
  margin: 0 auto;
}

h2 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  margin: 0;
  font-size: 2.6em;
}

.navBar {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  height: 75px;
  padding: 0 25px 0 25px;
}

.navBar .mobileMenuButton {
  justify-self: end;
}

.navBar .desktopMenu {
  display: none;
}

.menu {
  display: none;
  justify-content: center;
  z-index: 1;
  background: hsl(270, 9%, 17%) url('./images/bg-pattern-mobile-nav.svg')
    no-repeat bottom;
  position: relative;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  height: 89vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu ul li {
  width: 90%;
  align-self: center;
  margin-top: 20px;
  padding: 15px 0 15px 0;
  border: solid thin hsl(270, 9%, 17%);
}
.menu li:hover {
  border: solid thin;
}

@keyframes slideIn {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.slide {
  animation: slideIn 0.5s;
}

.hero img {
  display: block;
  margin: auto;
}

.hero .introDesktop {
  display: none;
}

.intro {
  background-color: hsl(256, 26%, 20%);
  position: relative;
  color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
  box-sizing: border-box;
  text-align: center;
  background: url(./images/bg-pattern-intro-left-mobile.svg) hsl(256, 26%, 20%)
    left top no-repeat;
}

.intro h2 {
  margin-bottom: 15px;
}

.intro div {
  line-height: 1.6;
  margin-bottom: 30px;
}

.intro h2 {
  font-size: 2.6em;
}

.intro input {
  align-self: center;
  width: 150px;
  background-color: hsl(256, 26%, 20%);
  color: white;
  padding: 12px 0 12px 0;
}

.intro .introRightMobile {
  position: absolute;
  right: 1px;
  bottom: -180px;
}

.intro .introRightDesktop {
  display: none;
}

.cardsContainer {
  text-align: center;
  padding: 120px 15px 0 15px;
}

.cardsContainer h2 {
  margin-bottom: 50px;
}

.cardsContainer .card {
  box-sizing: border-box;
  margin-top: 50px;
}

.cardsContainer img {
  padding-bottom: 20px;
}

.cardsContainer .cardTitle {
  font-family: 'DM Serif Display', serif;
  display: block;
  font-weight: 400;
  font-size: x-large;
  padding-bottom: 20px;
}

.cardsContainer .cardText {
  line-height: 1.6;
}

.cardsContainer hr {
  width: 40%;
  color: hsl(0, 0%, 98%);
  margin-bottom: 25px;
}

.cardsContainer .introDesktop,
.cardsContainer .introLeftDesktop {
  display: none;
}

.info {
  display: flex;
  justify-content: center;
}

.infoContainer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 90%;
  text-align: center;
  align-content: center;
  justify-content: center;
  height: 350px;
  background: url('./images/bg-pattern-how-we-work-mobile.svg') right top
    no-repeat hsl(256, 26%, 20%);
}

.infoContainer input {
  margin-top: 50px;
  align-self: center;
  width: 150px;
  background-color: hsl(256, 26%, 20%);
  color: white;
  padding: 12px 0 12px 0;
}

.infoContainer h2 {
  color: white;
  line-height: 1;
}

footer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: hsl(0, 0%, 98%) url('./images/bg-pattern-footer-mobile.svg') top
    no-repeat;
  padding-top: 90px;
}

footer .footerLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

footer .footerSocials {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

footer .facebook {
  margin-right: 15px;
}

footer .twitter {
  margin-right: 15px;
}

footer .pinterest {
  margin-right: 15px;
}

footer hr {
  width: 90%;
  color: hsl(0, 0%, 98%);
}

footer ul {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 13px;
}

footer ul li:first-child {
  color: hsl(273, 4%, 51%);
  margin-bottom: 30px;
}

footer ul li {
  margin-bottom: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 1200px) {
  .hero .introDesktop {
    display: block;
    width: 100%;
  }

  .hero .introMobile {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .navBar {
    max-width: 100vw;
    padding: 0;
  }

  .navBar .mobileMenuButton {
    display: none;
  }

  .navBar .desktopMenu {
    display: flex;
    justify-content: end;
  }

  .navBar .desktopMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navBar .desktopMenu ul li {
    padding: 8px 15px 8px 15px;
    cursor: pointer;
  }

  .desktopMenu li:last-child {
    border: solid thin;
  }

  .desktopMenu li:last-child:hover {
    color: white;
    background-color: hsl(256, 26%, 20%);
  }

  .hero {
    display: none;
  }

  .intro {
    display: grid;
    height: 600px;
    text-align: start;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding: 0 30px 0 10%;
    align-items: center;
    justify-items: start;
    background: hsl(256, 26%, 20%);
    overflow: hidden;
  }

  .intro .introContainer {
    width: 100%;
  }

  .intro .introContainer div {
    width: 95%;
  }

  .intro h2 {
    font-size: 5.5em;
    line-height: 1;
  }

  .intro .introDesktop {
    display: block;
    position: absolute;
    right: 5%;
    bottom: -150px;
  }

  .intro .introRightDesktop {
    display: block;
    position: absolute;
    right: -90px;
    top: -90px;
    z-index: 1;
  }

  .intro .introRightMobile {
    display: none;
  }

  .intro .introContainerButton:hover {
    color: hsl(256, 26%, 20%);
    background-color: white;
    cursor: pointer;
  }

  .cardsContainer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    text-align: start;
    justify-content: space-evenly;
    padding-right: 90px;
    padding-left: 90px;
    position: relative;
  }

  .cardsContainer .introDesktop {
    display: block;
    position: absolute;
    right: 5%;
    bottom: 500px;
  }

  .cardsContainer .introLeftDesktop {
    display: block;
    position: absolute;
    top: -180px;
    left: -10px;
  }

  .cardsContainer .cardsTitle {
    margin-top: 170px;
  }

  .cardsContainer h2 {
    margin-bottom: 0;
  }

  .cardsContainer hr {
    max-width: 100px;
    margin: 0px;
  }

  .cardsContainer .card {
    grid-row-start: 2;
    text-align: start;
    margin-top: 40px;
    width: 95%;
  }

  .infoContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 70px 0 70px;
    height: 250px;
    background: url('./images/bg-pattern-how-we-work-desktop.svg') right top
      no-repeat hsl(256, 26%, 20%);
  }

  .infoContainer div {
    text-align: start;
  }

  .infoContainer input {
    justify-self: end;
  }

  .infoContainer .infoContainerButton:hover {
    color: hsl(256, 26%, 20%);
    background-color: white;
    cursor: pointer;
  }

  footer {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    background: hsl(0, 0%, 98%) url('./images/bg-pattern-footer-desktop.svg')
      top left no-repeat;
    padding: 50px 10px 0 10px;
  }

  footer .row1 {
    display: grid;
    grid-template-columns: auto auto;
  }

  footer .footerLogo {
    justify-self: start;
    width: auto;
  }

  footer .footerSocials {
    justify-self: end;
    width: auto;
  }

  footer .footerSocials img:hover {
    filter: brightness(0) saturate(100%) invert(12%) sepia(7%) saturate(3759%)
      hue-rotate(215deg) brightness(97%) contrast(89%);
    cursor: pointer;
  }

  footer hr {
    width: 100%;
  }

  footer .row3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  footer ul {
    text-align: left;
  }
}
