body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

h2 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
}

.navBar {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  height: 75px;
  padding: 0 25px 0 25px;
}

.navBar .mobileMenuButton {
  justify-self: end;
}

.intro {
  background-color: hsl(270, 9%, 17%);
  color: white;
  background-image: url('/images/bg-pattern-how-we-work-mobile.svg');
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
